:root{
    --Dark:         #001524;
    --Secondary:    #a3bac3;
    --Accents:      #23ce6b;
    --Font:         #cdd9d2;
}
@media (prefers-color-scheme: dark){
    body {/* Just Styles */
    background: var(--Dark);
    color: var(--Font);
    }

}